<main id="carerArea" class="v-profile">
    <section class="profile-heroBanner" style="background-image: url('{{carer.gallery}}');">
        <section class="subHeader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subHeader_content">
                            <a id="backLink" href="/carer/dashboard" class="text-dark"><span class="icon-back_arrow"></span></a>
                            <button id="backSplide"class="d-none"><span class="icon-back_arrow"></span></button>
                            <h1>Tu Perfil</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <form enctype="multipart/form-data" id="photoCarerAvatarForm" data-fieldId="photoCarerAvatarInputFile" class="profile-avatar">
            <div id="photoCarerAvatarPreview" class="profile avatar cover" style="background-image: url('{{carer.profilePhoto}}')"></div>
            <div class="btn-modificar"><span class="icon-editar"></span></div>

            <input data-field="editable"  id="photoCarerAvatarInputFile" type="file" class="d-none">
            <input id="photoCarerAvatarBtnSubmit" type="submit" class="d-none">

            <input type="hidden" id="photoCarerAvatarInputFileUrl" class="d-none" name="profilePhoto">
            <button id="photoCarerAvatarBtnUpdate" type="button" data-btn='modify' data-id="photoCarerAvatarInputFileUrl" data-model="Carer"></button>
        </form>
    </section>
    <div class="box-main">
        <section class="profile-subHeader form-row mt-0">
            <div class="profile-subHeader_name">
                <div class="profile-field form-group editField disabledField">
                    <div class="editField_label">
                        <label>Nombre</label>
                        <button data-type="editable" data-id="carerNameInput" type="button"><span class="icon-editar"></span></button>
                    </div>
                    <input data-field="editable" data-id="carerNameInput" type="text" name="name" id="carerNameInput" class="form-control" value="{{carer.name}}">
                    <button class="btn btn-primary btn-md mt-3" data-btn="modify" data-model="Carer" data-id="carerNameInput" type="button">Modificar</button>
                </div>
            </div>
            <div class="profile-field profile-score">
                <p class="profile-score_title">Puntuación actual:</p>
                <div class="profile-score_bones">
                    <span>{{carer.rate}}</span>
                    <span>
                        {{#times carer.rate}}
                            <span class="icon-bone"></span>
                        {{/times}}
                    </span>
                </div>
            </div>
        </section>
        <section class="editField">
            <div class="editField_label">
                <label>Descripción</label>
                <button data-type="editable" data-id="carerDescriptionInput" type="button"><span class="icon-editar"></span></button>
            </div>
            <textarea class="form-control" data-field="editable"  name="description" id="carerDescriptionInput">{{carer.description}}</textarea>
            <button class="btn btn-primary btn-md mt-3" data-btn="modify" data-model="Carer" type="button" data-id="carerDescriptionInput">Modificar</button>
        </section>
        <section class="form-row editField disabledField">
            <div class="editField_label">
                <label for="carerEmailInput"> Email </label>
                <button data-type="editable" data-id="carerEmailInput" type="button"><span class="icon-editar"></span></button>
            </div>
            <input class="form-control" data-field="editable"  type="email" data-model="User" name="email" id="carerEmailInput" value="{{carer.userId.email}}">
            <button class="btn btn-primary btn-md mt-3" data-btn="modify" data-model="User" data-id="carerEmailInput" type="button">Modificar</button>
        </section>
        <section class="editField">
            <form enctype="multipart/form-data" id="photoCarerBannerProfileForm" class="form-group profile-banner-photo">
                <label class="mt-4 p0">Foto de fondo de perfil</label>
                <div id="photoCarerBannerProfilePreview" class="profile profile-banner cover" style="background-image: url('{{carer.gallery}}')"></div>
                <input id="photoCarerBannerProfileInputFile" class="d-none" type="file" name="photo">

                <input id="photoCarerBannerProfileInputFileUrl" type="hidden" name="gallery" data-btn="modify">
                <button id="photoCarerBannerProfileBtnUpdate" type="button" data-btn='modify' data-id="photoCarerBannerProfileInputFileUrl" data-model="Carer"></button>
                
                <input id="photoCarerBannerProfileBtnSubmit" class="d-none" type="submit">
            </form>
        </section>
    </div>
</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/carer/EditCarerValidator.js"></script>
<script src="/javascripts/carer/EditCarer.js"></script>