<h1>Reviews</h1>
<section>
    <h2>Tu puntuación global</h2>
    {{#each carer.items}}
        <p>{{this.name}}</p>
        <ul>
            {{#times this.score}}
                <span>Huesito</span>
            {{/times}}
        </ul>
    {{/each}}
</section>

<section>
    <ul>
    {{#each review}}
        <li>
            <div>
                <div style="width:100px;height:100px; backgroun-image: url('{{}}'); background-size: cover;"></div>
                {{#each items}}
                    <p><{{this.name}}</p>
                    <p>{{this.score}}</p>>
                {{/each}}
            </div>
            <div>
                {{description}}
            </div>
            <div>
                <ul>
                    <li>
                        {{#each items}}
                            <p>{{this.name}}</p>
                            <ul>
                                {{#times this.score}}
                                    <span>Huesito</span>
                                {{/times}}
                            </ul>
                        {{/each}}
                    </li>
                </ul>
            </div>
        </li>
    {{/each}}
    </ul>
</section>
