<h1>Reviews</h1>
<section>
    <h2>Tu puntuación global</h2>
    <p>{{review.[0].carerId.name}}</p>
    {{#each review.[0].carerId.items}}
        <ul>
            {{#times this.score}}
                <li>Huesito</li>
            {{/times}}
        </ul>
    {{/each}}
</section>

<section>
    <ul>
    {{#each review}}
        <li>
            <div>
                <div style="width:100px;height:100px; background-image: url('{{dogId.photo}}'); background-size: cover;"></div>
                {{#with dogId}}
                    <p>{{this.name}}</p>
                    <p>{{../average}}</p>
                {{/with}}
            </div>
            <div>
                {{description}}
            </div>
            <div>
                <ul>
                    <li>
                        {{#each items}}
                            <p>{{this.name}}</p>
                            <ul>
                                {{#times this.score}}
                                    <span>Huesito</span>
                                {{/times}}
                            </ul>
                        {{/each}}
                    </li>
                </ul>
            </div>
        </li>
    {{/each}}
    </ul>
</section>
