<main class="v-profile">
    <section class="subHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subHeader_content">
                        <a id="backLink" href="/setup"><span class="icon-back_arrow"></span></a>
                        <button id="backSplide"class="d-none"><span class="icon-back_arrow"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="profile-background" style="background: url('{{selectedCarer.gallery}}')"></div>
    <div class="box-main">
        <div class="profile_header">
            <div class="profile_data">
                <div class="profile_name">{{selectedCarer.name}}</div>
                <div class="profile_wrapperAvatar">
                    <div class="avatar cover" style="background-image: url('{{selectedCarer.profilePhoto}}')"></div>
                    <div class="carerCard_bubleTime">
                        <div class="carerCard_buble">
                            <span class="icon-countDownClok"></span>
                        </div>
                        <span class="carerCard_bubleTime_timeTo">en 20'</span>
                    </div>
                </div>
            </div>
            <div class="profile_reviewsResume">

                <div class="carerCard_feedback">
                    <div class="carerCard_feedback_averageBones">
                        {{#times selectedCarer.rate}}
                            <span class="icon-bone"></span>
                        {{/times}}
                    </div>
                    <div class="carerCard_feedback_nums">
                        <div class="carerCard_feedback_averageScore">4.8</div>
                        <div class="carerCard_feedback_numReviews">40 reseñas</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="profile_content">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Información</a>
                    <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reseñas</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p class="profile-description">{{selectedCarer.description}}</p>
                    <div class="profile_items">
                        <ul>
                        {{#each selectedCarer.items}}
                        <li>
                            <h4>{{this.name}}</h4>
                            {{#times this.score}}
                                <span class="icon-bone"></span>
                            {{/times}}
                        </li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            </div>
        </div>

        <button id="get-service"class="btn btn-primary btn-lg mt-4" >Contratar el servicio</button>
</main>
<script>
    const getServiceButton = document.getElementById('get-service')

    getServiceButton.addEventListener('click', async () => {

        let retrievedObject = localStorage.getItem("contract");
        let contract = JSON.parse(retrievedObject);
        contract = {
            ...contract,
            carerId: `{{selectedCarer._id}}`,
            carerName: `{{selectedCarer.name}}`
        };

        let carer = {
            name: `{{selectedCarer.name}}`,
            profilePhoto: `{{selectedCarer.profilePhoto}}`
        };

        let dog = {
            name: `{{selectedCarer.name}}`,
            profilePhoto: `{{selectedCarer.profilePhoto}}`
        };

        await localStorage.setItem("contract", JSON.stringify(contract));
        await localStorage.setItem("carer", JSON.stringify(carer));
        await localStorage.setItem("dog", JSON.stringify(carer));

        window.location.assign("/validation")

    });


</script>