<link rel="stylesheet" href="./stylesheets/splide.min.css">

<main class="v-service-home">

    <section class="box-main">
        <div class="service-home_content">
            <section class="service-home_wellcome">
                <div class="service-home_wellcome_text">
                    <p>¿Cuánto tiempo quieres que cuidemos de {{currentUserInfo.dog.name}}?</p>
                </div>
                <div class="service-home_wellcome_avatar">
                    <div class="avatar cover" style="background-image: url('{{currentUserInfo.dog.photo}}');"></div>
                </div>
            </section>

            <section class="service-home_priceList">
                <div id="splide" class="splide">
                    <div class="splide__track">
                        <div class="splide__list">
                            {{#each intervalList}}
                            <div class="splide__slide">
                                <a href="#" class="intervalButton intervalCard">
                                    <h3 class="intervalTime">
                                        {{#if this.intervalTime.hours}}
                                            <div><span class="intervalTime_hours">{{this.intervalTime.hours}}</span><span>h</span></div>
                                        {{/if}}
                                        {{#if this.intervalTime.minutes}}
                                            <div><span class="intervalTime_minutes">{{this.intervalTime.minutes}}</span><span>min</span></div>
                                        {{/if}}
                                        <input type="hidden" data-type="{{this.intervalRaw}}">    
                                    </h3>
                                    <h4 class="price">{{this.price}}€</h4>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="service-home_footer">
            <a href="/setup" id="btnContinueSignup3" class="btn btn-primary btn-lg">Marca tu punto de encuentro</a>
        </div>
        

    </section>

</main>

<script src="/javascripts/libraries/splide.min.js"></script>
<script>

    var splide = new Splide( '#splide', {
        arrows   : false,
        pagination: false,
	    perPage: 3,
	    perMove: 1,
        trimSpace: 'move',
        autoWidth: true,
        type: 'loop',
        autoWidth: true,
        gap: 13
    } ).mount();

    const intervalButtons = document.querySelectorAll(".intervalButton");
    intervalButtons.forEach((elem) => {
        elem.addEventListener("click", (event) => {
            const card = event.target.parentNode
            const interval = card.querySelector('[data-type]').getAttribute('data-type');
            const price = card.querySelector('.price').innerHTML;
            console.log(`{{currentUserInfo}}`)
            const contract = { userId: `{{currentUserInfo.user._id}}`, carerId: "", dogId: `{{currentUserInfo.dog._id}}`, interval_time: interval, price: price, meeting_point: "", card_number: "" };
            localStorage.setItem('contract', JSON.stringify(contract));
        });

    });
    

</script>